*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0D6EFD;
}

.login{
    padding: 25px;
    height: min-content;
    width: 400px;
    background: #FFFFFF;
    border-radius: 15px;
}

#login-header{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.login form .form-group{
    margin-bottom: 12px;
}

.login form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.login form input{
    font-size: 25px;
    width:100%;
}
