body {
    background: url(images/circuit_bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: colorCycle 12s infinite;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin: 0px auto auto auto;
    color: #000;
}

/* Comment this out if using circuit_bg.png */
@keyframes colorCycle {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }

    12.5% {
        background-color: rgba(255, 0, 0, 1);
    }

    25% {
        background-color: rgba(255, 255, 0, 1);
    }

    37.5% {
        background-color: rgba(0, 255, 0, 1);
    }

    50% {
        background-color: rgba(0, 255, 255, 1);
    }

    62.5% {
        background-color: rgba(0, 0, 255, 1);
    }

    75% {
        background-color: rgba(255, 0, 255, 1);
    }

    87.5% {
        background-color: rgba(255, 0, 0, 1);
    }

    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}

p {
    padding: 2px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 0;
}



#main_container {
    /* width: 1600px; */
    height: auto;
    margin: auto;
    padding: 0px;
    /* margin-top: 8px; */
}

ul.menu li {
    display: inline;
    font-size: 11px;
    font-weight: bold;
    line-height: 50px;
}


ul.left_menu li {
    margin: 0px;
    list-style: none;
}

ul.left_menu li.odd a {
    width: 100%;
    height: 25px;
    display: block;
    background: url(src/checked.png) no-repeat left #dad0d0;
    background-position: 5px 5px;
    border-bottom: 1px #FFFFFF solid;
    text-decoration: none;
    color: #504b4b;
    padding: 0 0 0 30px;
    line-height: 25px;
}

ul.left_menu li.even a {
    width: 100%;
    height: 25px;
    display: block;
    background: url(src/checked.png) no-repeat left #eee6e6;
    background-position: 5px 5px;
    border-bottom: 1px #FFFFFF solid;
    text-decoration: none;
    color: #504b4b;
    padding: 0 0 0 30px;
    line-height: 25px;
}

ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover {
    background: url(src/checked.png) no-repeat left #7bbcc7;
    color: #FFFFFF;
    background-position: 5px 5px;
}


.product_title a {
    text-decoration: none;
    color: #ea2222;
    padding: 5px 0 5px 0;
    font-weight: bold;
}

.product_title a:hover {
    color: #064E5A;
}


.thumbs a {
    padding: 3px;
}


.right_footer a {
    padding: 0 0 0 7px;
    text-decoration: none;
    color: #666666;
}

.right_footer a:hover {
    text-decoration: underline;
}

#mainImage, #mainImageTitle {
    padding-top: 10px;
}


/* Navigation bar */
.company-name img {
    max-width: 300px;
    transition: 0.2s ease-out;
}

.company-name img:hover {
    box-shadow: 0px 0px 10px 14px rgba(128, 0, 0, 0.5);
}

.nav-bar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
    padding-left: 14px;
    padding-right: 14px;
}

.nav-section1 {
    background-color: rgb(10, 10, 10);
    padding: 20px;
    border-bottom: 1px solid rgb(40, 40, 40);

    overflow: hidden;
}

.nav-section2 {
    background-color: rgb(20, 20, 20);
    padding: 10px;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.nav-section2 button {
    color: white;
    background-color: #800000;
    border: 1px solid black;
    border-left: none;
    border-radius: 6px;
    padding: 3px 6px;
    transition: all 0.3s ease-out;
}

.nav-section2 button:hover {
    background-color: #b60000;
    border: 1px solid #b60000;
}

.nav-section2 input {
    width: 250px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px;
    margin: 0 6px;
}

.right-align {
    float: right;
}

.nav-bar a:not([href*='index.html']) {
    border-left: 1px solid rgb(40, 40, 40);
    border-right: 1px solid rgb(40, 40, 40);
}

.nav-bar a {
    padding: 5px 15px 5px 15px;
    transition: 0.3s color;
}

.nav-bar a:hover {
    color: rgb(204, 0, 0);
}

/* Home Page */
.home-feature {
    color: white;
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgb(40, 40, 40);
    border-bottom: 1px solid rgb(40, 40, 40);

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-feature div {
    padding: 20px;
    /* border: 1px solid white; */
    transition: 0.3s;
}

.home-feature img {
    transition: 0.2s ease-in;
}

.home-feature img:hover {
    box-shadow: 0px 0px 10px 10px rgba(128, 0, 0, 0.5);
}

.home-feature>div:first-child:hover,
.home-feature>div:nth-child(3):hover {
    color: rgb(255, 80, 80);
}

.home-feature>div:first-child,
.home-feature>div:nth-child(3) {
    width: 25vw;
}

.home-feature p {
    font-size: 18px;
    text-align: justify;
}

.home-feature ul {
    font-size: 20px;
    line-height: 2.5;
    list-style-type: none;
}

.home-feature button {
    color: white;
    background-color: #800000;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.2s;

    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

.home-feature button:hover {
    background-color: #b60000;
    border: 1px solid #b60000;
}

/* Side by Side boxes */
.home-sbs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.home-sbs .home-s1, .home-sbs .home-s2 {
    width: 35%;
    /* padding: 10px 0; */

    color: rgb(215, 215, 215);
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);
}

.home-sbs h3 {
    background-color: rgb(128, 0, 0);
    /* Required margin change */
    margin: 0;
    padding: 10px 0;
}

.home-s1 div {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.home-s1 a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(215, 215, 215);
    padding: 10px;
    align-items: center;
    text-align: center;
    width: 20%;

    /* border: 1px solid white; */
    border-radius: 6px;
    transition: 0.3s;
}

.home-s1 a:hover {
    background-color: rgba(55, 50, 50, 0.3);
}

.home-s1 p {
    margin: 0;
}

.home-s1 img {
    max-width: 100%;
}

.home-s2 iframe {
    padding: 10px;
}

/* Latest Products */
.home-latest {
    color: white;
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);

    margin: 0 auto;
    margin-top: 50px;
    width: 80vw;
}

.home-latest h3 {
    background-color: rgb(128, 0, 0);
    padding: 10px 0;
}

.latest-prod-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-prod {
    margin: 10px 20px;
    padding: 15px;
    border: 1px solid rgb(50, 50, 50);
    /* border-radius: 5px; */
    transition: 0.3s;
}

.latest-prod:hover {
    background-color: rgba(70, 60, 60, 0.3);
}

.latest-prod p {
    margin: 0;
}

#latest-prod-price {
    font-size: 22px;
}

#latest-prod-oldprice {
    color: gray;
    text-decoration: line-through;
}

/* Browse Products */
.browse-prod {
    color: white;
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);

    margin: 0 auto;
    margin-top: 50px;
    width: 90vw;
}

.browse-prod h2 {
    background-color: rgb(128, 0, 0);
    font-weight: bold;

    margin: 0;
    padding: 10px 0;
}

.pc-component-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pc-component {
    margin: 20px;
    padding: 0 40px;
    position: relative;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.pc-component a {
    text-decoration: none;
}

.pc-component img {
    min-width: 300px;
}

.pc-component h3 {
    color: white;
    font-weight: bold;
}

/* Hidden class for text */
.hidden {
    color: white;
    font-size: 16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(10, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;

    margin: 0;
    padding: 40px;
    min-width: 382px;
    min-height: 341px;
    text-align: justify;
    line-height: 1.7;
}

.pc-component:hover .hidden {
    opacity: 1;
    transition-delay: 0.4s;
    filter: blur(0);
}

.pc-component-text {
    color: rgb(255, 80, 80);
}

/* Featured Builds */
.filter-box {
    color: white;
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);

    margin-top: 50px;
}

.filter-box h2 {
    background-color: rgb(128, 0, 0);
    margin-bottom: 12px;
}

.filter-box select {
    margin: 6px;
}

.apply-filters {
    color: white;
    background-color: #800000;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 24px;
    margin: 6px;
    transition: all 0.3s ease-out;
}

.apply-filters:hover {
    background-color: #b60000;
    border: 1px solid #b60000;
}

/* prod details */
.prod-details {
    color: white;
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);

    width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
    padding: 16px;
}

.prod-detail1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-detail1 img {
    /* max-width: 400px; */
}

#normal-price {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: gray;
}

#sale-price {
    font-size: 2rem;
}

.prod-detail2 {
    line-height: 1.6;
}

.prod-detail2 button {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 20px;
    background-color: #800000;
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px 36px;
    margin: 20px 20px 20px 0;
    transition: all 0.3s ease-out;

}

.prod-detail2 button:hover {
    background-color: #b60000;
    border: 1px solid #b60000;
}

.user-reviews {
    color: white;
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);

    width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
}

.user-reviews h3 {
    background-color: rgb(128, 0, 0);
    padding: 10px 0;
    margin-bottom: 20px;
}

.user-reviews h4 {
    margin: 0;
}

.per-user {
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 12px;
    background-color: rgba(50, 50, 50, 0.3);
    border: 1px solid rgb(50, 50, 50);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Motherboards shop */
.listing {
    color: white;
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px;
}

.filter-box {
    margin-right: 20px;
    background-color: rgba(35, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);
}

.filter-box h3 {
    padding: 4px 0;
    margin: 0;
    background-color: rgb(128, 0, 0);
    text-align: center;
}

.filter-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* holds all the items */
.listing-container {
    text-align: center;
    /* background-color: rgba(35, 30, 30, 0.3); */
    backdrop-filter: blur(5px);
    border: 1px solid rgb(40, 40, 40);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* individual item */
.one-list {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0 12px;
    margin-bottom: 20px;

    transition: 0.3s ease-out;
}

.one-list:hover {
    background-color: rgb(205, 205, 205);
    border: 1px solid white;
}

.one-list a {
    color: black;
    text-decoration: none;
}

.one-list img {
    max-width: 250px;
}

.one-list h5 {
    padding: 4px;
}

.one-list h5 {
    border-top: 1px solid rgb(175, 175, 175);
    border-bottom: 1px solid rgb(175, 175, 175);
}

.one-list p {
    border-bottom: 1px solid gray;
}

.one-list button {
    color: white;
    background-color: #800000;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 50px;
    margin: 6px 0;
    transition: all 0.3s ease-out;
}

.one-list button:hover {
    background-color: #b60000;
    border: 1px solid #b60000;
}